modules = ["lua-5.2"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["nushell"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Nushell"

[[workflows.workflow]]
name = "Nushell"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "nu"

[workflows.workflow.metadata]
outputType = "console"
